li {
  background-color: #141527;
  color: white;
  height: 7vh;
  width: 105%;
  font-size: 20px;
  margin-left: 17%;
  text-align: initial;
  border-top-right-radius: 119px;
  border-bottom-right-radius: 119px;
  padding-left: 30px;
  margin-top: 10%;
  list-style: none;
}



.menu {
  display: flex;
  flex-direction: column;
  margin-top: 7%;

}

li:hover {
  background-color: #FFAE03;
  cursor: pointer;
  width: 122%;
}