* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
  overflow: scroll;
  position: absolute;
}

h1 {
  color: white;
  font-size: 113px;
  position: absolute;
  margin-left: 2%;
  margin-top: 2%;
}

span {
  color: #FFA30E
}