div img {
  width: 100%;
}

/* .news { 
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5%;
} */

.news {
  background-color: white;
  margin-right: 5%;
  margin-bottom: 5%;
}

  

.article__img {
  /* width: 100%; */
  height: 37vh;
  overflow: hidden;

}

h3 {
  font-size: 2em;
  margin-top: 5%;
}

p {
  font-size: 1em;
  margin: 3%;
}

footer {
  height: 7vh;
  text-align: initial;
  padding-left: 16%;
  background-color: #B56AF0;
  color: white;
  display: flex;
  justify-content: space-between
}

footer:hover {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

footer p {
  font-size:21px;
}

.img__arrow {
  width: 11%;
  margin-right: 18%
}



